.tissue-plate {
    border-collapse: collapse;
    margin-top: 1em;
  }
  
  .tissue-plate td {
    border: 1px solid #aaa;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.75em;
    padding: 0;
  }
  
  .well-id {
    font-weight: bold;
    margin-bottom: 0.2em;
  }
  
  .well-label {
    font-size: 0.7em;
  }
  
  .tissue-plate.circular td {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #aaa;
    background-color: #f9f9f9;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  }
  
  .tissue-plate.circular {
    border-spacing: 15px 15px; /* mimic plate spacing */
  }
   